body{
  background-color: blue;
}
#top_banner {
position:absolute;
top:0;
left:0;
height:15%;
background-color: red;
width:100%
}
#logo {
  position: absolute;
  width:10%;
  top:0;
  left:0;
  height:100%;

}
#logo-full {
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:0 auto;
}

#content {
position:absolute;
left:0;
right:0;
bottom:0;
margin:0 auto;
height:85%;
background-color:white;
width:75%;
}
